<%- include( 'partials/head') %>

      <h1><mark>My T-shirt List:</mark></h1>

      <fieldset>
        <legend>Completed Shirts</legend>
        <ul>
          <li>shirt 1</li>
          <li>shirt 2</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Uncompleted Shirts</legend>
        <p>Click to finish products</p>
        <ul>
          <li>shirt 3</li>
          <li>shirt 4</li>
        </ul>
      </fieldset>
      <a href="shoppingbag.html">Go to shopping bag</a>
  
<%- include('partials/foot') %>